body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 36px 64px;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: hsl(0, 0%, 20%);
  background-color: lightgoldenrodyellow;
}

html::before {
  content: " ";
  display: block;
  height: 12px;
  background: linear-gradient(
    90deg,
    hsl(266, 50%, 50%) 0%,
    hsl(308, 50%, 50%) 100%
  );
}

html::after {
  content: " ";
  display: block;
  height: 12px;
  background: linear-gradient(
    90deg,
    hsl(266, 50%, 50%) 0%,
    hsl(308, 50%, 50%) 100%
  );
}


header {
  margin-bottom: 64px;
  text-align: center;
}
header > p {
  margin-top: 0;
}

nav li {
  display: inline-flex;
  justify-content: center;
  margin: 5px;
  margin-inline-end: 40px;
}

nav {
  background-color: #BFDAF9;
  border: solid 1px #094d9b;
  border-radius: 20px;
  
}

h1 {
  margin: 0;
  font-family: 'Ephesis';font-size: 64px;
  margin-left: -5px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#profile-picture {
  float: left;
  width: 200px;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-top: 6px;
  border-radius: 30px;
  
}

footer {
  clear: both;
  width: 100%;
  display:block;
}

img {
  box-shadow: 2px 2px 2px hsl(240, 50%, 50%);
  border-radius: 2px;
}

p {
  margin-bottom: 36px;
  max-width: 650px;
  
}
p, li {
  line-height: 1.5;
  font-size: 20px;

}



.step {
  margin-bottom: 64px;
  display: list-item;
} 



.ideas {
  list-style: none;
  padding: 0;
}

.step img {
  width: 400px;
  margin: 0 36px;
  border-radius: 40px;
  box-shadow: 10px 5px 5px;

}

.introduction, .review {
  margin: 64px auto;
  padding: 36px 0;
  border-top: 1px solid hsl(0, 0%, 70%);
  border-bottom: 1px solid hsl(0, 0%, 70%);
}

.thumbnail {
  width: 250px;
  border: 0.5px solid hsl(240, 50%, 50%);
  border-radius: 40px;
  box-shadow: 10px 5px 5px;
}

aside {
  width: 75%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
}

aside > p {
  margin: .5rem;
}









